:root {
  --primaryColor: #EF3345;
  --primaryTextColor: #ffffff;
  --sectionTitleColor: #404040;
  --color: #666666;
}

html {
  position: relative;
  min-height: 100%;
  min-width: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: var(--color);
  font-size: 16px;
  font-family: "Poppins", sans-serif;

}

/*section.section--only {
  display: block;
}

section:not(.section--only) {
  display: none;
}*/



.header-social a {
  color: #ffffff;
  margin: auto;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 35px;
  padding-right: 10px;

}
.header--contactbar{
  height: 45px;
  padding-top: 5px;
}


.col--contact{
  text-align: right;
}
.header__container--navbar{
  padding-left: 0px;
  padding-right: 0px;
}
.header--contact a {
  color: #ffffff;
  margin: auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14px;
  margin-left: 20px; 
}
.header--contact a i{
  font-weight: 700;
}
.header-social a:hover{
  color: #EF3345;
}
.header--contact a :hover{
  color: #EF3345;
}
.header--contact a :focus:active{
  color: #EF3345;
  text-decoration: none;
}

input::placeholder {
  opacity: 1;
  color: #ffffff;
}

.mb-30 {
  margin-bottom: 30px;
}

.image {
  height: 420;
  width: 370;
}

.btn.btn-primary {
  background-color: var(--primaryColor);
  border-color: var(--primaryColor);
}


.section__main {
  background-image: url('../images/bg_top_photo1.jpg');
  min-height: 700px;
  width: 100%;
  background-position: center;

}


.header-navbar{
  height: 90px;
  background-color: #ffffff;
  line-height: 24px;
  font-size: 14px;
  padding-top: 18px;
  font-style: normal;
  font-weight: normal;
  visibility: visible;
  font-family: "Poppins", sans-serif;
  color: #666666;
}



.navbar-light .navbar-nav .nav-item:hover .nav-link,
.navbar-light .navbar-nav .nav-item .nav-link:hover .dropdown-menu .dropdown-item
{
  color: #EF3345;

}
.navbar__btn--donate{
  background-color: #EF3345;
  color: #ffffff;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.navbar__btn--donate:active:focus:hover{
  background-color: #000000;
  border: none;
}
.header__container--navbar .navbar__btn--donate:hover{
  background-color: #000000;
  color: #ffffff;
  border:none;
}
.section__title {
  color: var(--sectionTitleColor);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  margin: auto;
  margin-top: 30px;

}

.section__subtitle {
  font-size: 1.1em;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #666666;
  max-width: 670px;
  margin-bottom: 3em;
  margin: auto;
  margin-top: 12px;

}

.header-navbar {
  background-color: #ffffff;
}

nav .navbar {
  background-color: #ffffff;
  padding-left: 0px;
}

.row--navbar {
  background-color: #ffffff;
  padding-left: 140px;
  padding-right: 100px;
}

.container-navbar .navbar lu li {
  background-color: #ffffff;
  align-content: flex-end;
  align-content: center;

}

.navigation {
  background-color: #fff;
  height: 100px;
}

.navigation--bar {
  color: var(--primaryTextColor);
}

.feature {
  text-align: center;
}

.feature i {
  height: 80px;
  width: 80px;
  line-height: 80px;
  font-size: 35px;
  color: #ffffff;
  text-align: center;
  text-justify: midle;
  display: block;
  border-radius: 50%;
  background-color: var(--primaryColor);
  margin: auto;
  margin-bottom: 2em;
}
.feature i:hover{
  background-color: #000000;
}

.feature--title {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 1.2em;
}

.feature--desc {
  text-align: center;
}

.section__donation {
  background-color: #404040;
  background-image: url("../images/donation-bg.jpg");
  min-height: 450px;
  color: #ffffff;
  position: relative;
  overflow: hidden;
  z-index: 1;

}

.section__donation::before {
  background-color: #000000;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: -1;
}

.container--donation .section__title {
  color: #ffffff;
}

.container--donation .section__subtitle {
  color: #ffffff;
  margin-bottom: 30px;
}

.container--donation .form--donation input {
  color: var(--primaryTextColor);
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  border-radius: 4px;
  width: 100%;
  height: 45px;
  z-index: 1;
  margin-bottom: 2px;
}

.btn--donateNow {
  background-color: #EF3345;
  width: 100%;
  height: 45px;
  color: var(--primaryTextColor);
}

.campaign {
  position: relative;
  overflow: hidden;
}

.campaign::before {
  background: linear-gradient(to bottom, #000000 0%, #ef3345 100%);
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.75;

}

.campaign .image img {
  width: 100%;
  transition: all 0.5s ease 0s;
}

.campaign .content {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 30px;

}

.campaign .content h3 {
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-bottom: 6px;
}

.campaign .content ul li {
  color: var(--primaryTextColor);
  font-size: 14px;
  line-height: 26px;
  font-family: "Poppins", sans-serif;
  display: block;
  float: left;
}

.campaign .content ul li i {
  color: var(--primaryTextColor);
  font-size: 14px;
  line-height: 26px;
  margin-right: 10px;
  display: block;
  float: left;
}

.campaign .content h3 a {
  color: #ffffff;
}

.section__contribiusion {
  background-color: #ef3345;
  min-height: 450px;
  color: #ffffff;
  position: relative;
}


.contribiusion-icon {
  position: absolute;
  font-size: 150px;
  top: 150px;
  opacity: 0.2;
  left:100px;
}

.contribiusion-icon.contribiusion-icon--right {
  position: absolute;
  font-size: 150px;
  left:unset;
  right:100px;
}

.section__contribiusion h3 {
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-bottom: 6px;
  padding-bottom: 20px;
  display: block;
  text-align: center;
}

.underscore {
  background-color: #ffffff;
  height: 2px;
  width: 80px;
  margin: auto;
}

.section__contribiusion p {
  font-size: 16px;
  line-height: 26px;
  font-family: "Poppins", sans-serif;
  display: block;
  text-align: center;
}

.contr {
  width: 100%;
  font-size: 4rem;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
  display: block;
  text-align: center;
  line-height: 2;
  margin: auto;

}

.btn--volunteer {
  color: #ffffff;
  padding: 0.5em 2em;
  display: block;
  margin: auto;
}

.btn--volunteer {
  background-color: black;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  width: 16rem;
  height: 3.5rem;
  font-size: 0.9rem;
  transition-property: background; 
  transition-duration: left;
  transition: color 3s ease-in-out;
  
}
.btn--volunteer:active,.btn--volunteer:focus,.btn--volunteer:hover{
  background-color: #ec1026;
  border: none;
  
  
}
.section__mission {
  padding-top: 110px;
  padding-bottom: 90px;
}

.row--mission {
  align-items: center;
}

.mission-map {
  position: relative;
  overflow: hidden;
  background-color: transparent;
}

.mission-content {
  margin-bottom: 30px;
}

.mission-content h5 {
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #EF3345;
  line-height: 18px;
  font-weight: 600;
}

.mission-content h2 {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  text-transform: capitalize;
  color: #191919;
  line-height: 36px;
  font-weight: 800;
  margin-bottom: 24px;
}

.mission-content p {
  font-size: 18px;
  margin-bottom: 26px;
  line-height: 30px;
}

.mission-content h3 {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  text-transform: capitalize;
  color: #ef3345;
  line-height: 28px;
  font-weight: 800;
  margin-bottom: 0;
}


.section__subscribe::before {
  background-color: rgb(11, 11, 104);
  opacity: 0.2;
  width: 100%;
  height: 100%;
  z-index: -1;

}

.section__subscribe {
  background-color: #404040;
  background-image: url("../images/subscribe-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  color: #ffffff;
  position: relative;
  padding-top: 100px;
  padding-bottom: 110px;
  z-index: 1;
}

.section__subscribe .container-subscribe .section__title {
  color: #ffffff;
  padding-top: 60px;
  padding-bottom: 16px;
}

.section__subscribe .container-subscribe .section__subtitle {
  color: #ffffff;
  padding-bottom: 60px;
}

.form--subscribe {
  
  align-items: left;
  display: block;
  color: #ffffff;
  padding-bottom: 30px;
  align-content: flex-start;
}

.form--subscribe .input--field {
  
  position: relative;
  border: none;
  border-radius: 4px;
  width: 100%;
  height: 55px;
  font-family: "Montserrat", sans-serif;
  text-align: left;
  font-size: 14px;
  font-weight: 600;  
  display: block;
  min-width: 250px;
  padding: 15px 30px;
  color: #ffffff;
  background-color: rgba(94, 97, 100, 0.4);
  margin-bottom: 10px;
}

.btn--subscribe {
  display:inline-block;
  
  height: 55px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  background-color: #EF3345;
  text-rendering: auto;
  position: relative;
  justify-content: center;
}
.container-news{
  margin-bottom: 80px;
  text-align: center;

}
.card{
  border: none;
  display: block;
}
.news__card{
  margin-bottom: 50px;
  padding-left: 0px;
}
.card-body{
  padding-left: 0px;
  padding-right: 0px;
}
.card-title{
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 22px;
  line-height: 30px; 
  color: #404040; 
}
.card-text{
display: block;
color: #666666;
margin-bottom: 20px;
font-family:"Poppins", sans-serif;
font-size:14px;
font-style:normal;
font-weight:400;
height:100%;
line-height:24px;
margin-block-end:20px;
margin-block-start:0px;
margin-bottom:20px;
margin-inline-end:0px;
margin-inline-start:0px;
margin-top:0px;
text-align:left;
}
.meta{
  margin-bottom: 20px;
}
.meta-item{
  color: #666666;
  margin-right: 6px;
  font-size: 13px;
}
.btn.btn-sm {
  padding: 8px 20px;
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #ffffff;
  display: inline;
}
.card__btn{
  background-color: #ef3345;
  color: #ffffff;
  position: relative;
}
@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
}
.card__btn:active:focus:hover{
  background-color: #000000;
  border: none;
  -webkit-animation: slide-right 2.5s linear forwards;
	animation: slide-right 2.5s linear forwards;
}
.news__card a:hover{
  background-color: #000000;
  border:none;
  -webkit-animation: slide-right 2.5s linear forwards;
	animation: slide-right 2.5s linear forwards;

}
.section-footer__top{
  background-color: rgb(8, 8, 51);
  color: #ffffff;
  padding-top: 120px;
  padding-bottom: 100px;
}
.row-footer__top .title{
  padding-bottom: 10px;
}

.section-footer h3{ 
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900; 
}
.section-footer .span__f-t{
  color: #ef3345;
}
.section-footer p{
  font-weight: normal;
}
.section-footer .hover:hover{
  color: #EF3345;
}
.footer-social .footer-icon{
  display: inline-flex;
  font-size: 14px;
  width: 30px;
  height: 30px;
  color: #ffffff;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  justify-content: center;
  align-items: center ;
}
.footer-social .footer-icon:hover{
  color: #EF3345;
  border: #EF3345 2px solid;
  text-decoration: none;
}
.col-f_t1{
  text-align: left;
  border-right: 0.5px solid darkblue;
}
.col-f_t2{
  text-align: center;
  border-right: 0.5px solid darkblue;
}
.col-f_t2 h3{
  color: #EF3345;
  font-size: 26px;
  padding-bottom: 10PX;
}
.col-f_t3{
  text-align: right;
}
.col-inst{
  padding-left: 0px;
  padding-right: 0px;
}
.footer-img{
  background-color: #EF3345;
  width: 60px;
  height: 60px;
  margin-top: 10px;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
}
.footer-img:hover{
  background-color: #EF3345;
  width: 60px;
  height: 60px;
  margin-top: 10px;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  opacity: 0.2;
}
.section-footer__bottom{
  background-color: #EF3345;
  color: #ffffff;
  text-align: center;
  height: 60px;
  padding-top: 15px;
  margin-bottom: 0px;
}
