/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "shared/main";
@import "shared/bootstrap-override";
@import "components/section__main";
@import "shared/bootstrap-override";
@import "compass/reset";
@import "shared/main";
@import "shared/bootstrap-override";
@import "components/section-header";
@import "components/header-navbar";
@import "components/feature";
@import "components/section__main";
@import "components/section__statement";
@import "components/section__donation";
@import "components/section__campaign";
@import "components/section__contribiusion";
@import "components/section__mission";
@import "components/section__subscribe";
@import "components/section-news";
@import "components/section-footer";

.slider__arrow-left{
  color:white;
  background-color:rgba(2, 3, 5, 0.3);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 5%;
  text-align:center;
  text-justify: distribute;
  font-size: 2em;
  padding-top: 0.25em;
  &:hover{
    cursor: pointer;
    background-color:rgba(2, 3, 5, 0.5);
  }
}
.slider__arrow-right{
  color:white;
  background-color:rgba(2, 3, 5, 0.3);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 5%;
  text-align:center;
  text-justify: distribute;
  font-size: 2em;
  padding-top: 0.25em;
  left: unset;
  &:hover{
    cursor: pointer;
    background-color:rgba(2, 3, 5, 0.5);

  }
}

.section__main {
  //background-image: url("../images/bg_top_photo1.jpg");
  min-height: 950px;
  width: 100%;
  background-position: center;
  position: relative;
  
}
.container-slider {
  height: 840px;
  width: 100%;
  display: block;
  position: absolute;
  overflow: hidden;
  top: 140px;
  left: 15%;
  align-items: center;
  padding: 0;
  padding-top: 1rem;
  margin: auto;

  
  .row-slider{
    position: absolute;
    width: 100%;
    height: 810px;
    display:none;
    margin: auto;
    
  }
 
  .name {
    position: absolute;
    font-size: 50px;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    color: white;
  
    transform: translate(-100%, 0);
  }

  .name1 {
    position: absolute;
    top: 20%;
    left: 0;
    display: block;
  
    animation: sideSlide 2s ease 2s forwards;
  }

  .name2 {
    position: absolute;
    top: 30%;
    left: 0;
  
    animation: sideSlide 2s ease 3s forwards;
  }

  .descr {
    font-size: 28px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: white;
    position: absolute;
    top: 40%;
    left: 0;
  
    animation: sideSlide 2s ease 4s forwards;
    transform: translate(-100%, 0);
  }

  .btn.button {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-align: center;
    color: white;
    margin-top: 20px;
    padding-top: 12px;
    height: 50px;
    width: 250px;
    background-color: red;
    border: none;
    border-radius: 4px;
    position: absolute;
    top: 55%;
    left: 0;
    
    transform: translate(-100%, 0);
    animation: sideSlide 2s ease 5s forwards;
    
    &:before {
      content: "";
      width: 0%;
      background-color: black;
      color:white;
      top: 0;
      right: 0;
      bottom: 0;
      border-radius: 4px;
      border:none;
      position: absolute;
      transition: all 1.5s ease;
      z-index: -1;
    }
    &:hover:before {
      background-color: black;
      top:0;
      left:0;
      color:white;
      width: 100%;
      transition: all 1s ease;
    }
  }

  .pic {
    height: auto;
    width: 100%;
    padding-top:0.5rem;
    margin-left:0;
    display: flex;
    float: left;
   // background-image: url("../images/white_guy.png");
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size:cover;
    position: absolute;
    bottom: 0%;
    right: 0;
    animation: pic 2s ease forwards;
  
  }
}


@keyframes pic {
  0% {
    transform: translate(0, 100%);
  }

  100% {
    transform: translate(0, 0);
  }
}

body {
  background-color: rgba(2, 3, 5, 0.9);
  z-index: 2;
}

@keyframes sideSlide {
  0% {
    transform: translate(-100%, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}
.row-slider.row-slider--active{
  display: flex;
}