

@font-face {
	font-family: 'et-line';
	src:url('fonts/et-line.eot');
	src:url('fonts/et-line.eot?#iefix') format('embedded-opentype'),
		url('fonts/et-line.woff') format('woff'),
		url('fonts/et-line.ttf') format('truetype'),
		url('fonts/et-line.svg#et-line') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'et-line';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display:inline-block;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-mobile, .icon-laptop, .icon-desktop, .icon-tablet, .icon-phone, .icon-document, .icon-documents, .icon-search, .icon-clipboard, .icon-newspaper, .icon-notebook, .icon-book-open, .icon-browser, .icon-calendar, .icon-presentation, .icon-picture, .icon-pictures, .icon-video, .icon-camera, .icon-printer, .icon-toolbox, .icon-briefcase, .icon-wallet, .icon-gift, .icon-bargraph, .icon-grid, .icon-expand, .icon-focus, .icon-edit, .icon-adjustments, .icon-ribbon, .icon-hourglass, .icon-lock, .icon-megaphone, .icon-shield, .icon-trophy, .icon-flag, .icon-map, .icon-puzzle, .icon-basket, .icon-envelope, .icon-streetsign, .icon-telescope, .icon-gears, .icon-key, .icon-paperclip, .icon-attachment, .icon-pricetags, .icon-lightbulb, .icon-layers, .icon-pencil, .icon-tools, .icon-tools-2, .icon-scissors, .icon-paintbrush, .icon-magnifying-glass, .icon-circle-compass, .icon-linegraph, .icon-mic, .icon-strategy, .icon-beaker, .icon-caution, .icon-recycle, .icon-anchor, .icon-profile-male, .icon-profile-female, .icon-bike, .icon-wine, .icon-hotairballoon, .icon-globe, .icon-genius, .icon-map-pin, .icon-dial, .icon-chat, .icon-heart, .icon-cloud, .icon-upload, .icon-download, .icon-target, .icon-hazardous, .icon-piechart, .icon-speedometer, .icon-global, .icon-compass, .icon-lifesaver, .icon-clock, .icon-aperture, .icon-quote, .icon-scope, .icon-alarmclock, .icon-refresh, .icon-happy, .icon-sad, .icon-facebook, .icon-twitter, .icon-googleplus, .icon-rss, .icon-tumblr, .icon-linkedin, .icon-dribbble {
	font-family: 'et-line';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display:inline-block;
}
.icon-mobile:before {
	content: "\e000";
}
.icon-laptop:before {
	content: "\e001";
}
.icon-desktop:before {
	content: "\e002";
}
.icon-tablet:before {
	content: "\e003";
}
.icon-phone:before {
	content: "\e004";
}
.icon-document:before {
	content: "\e005";
}
.icon-documents:before {
	content: "\e006";
}
.icon-search:before {
	content: "\e007";
}
.icon-clipboard:before {
	content: "\e008";
}
.icon-newspaper:before {
	content: "\e009";
}
.icon-notebook:before {
	content: "\e00a";
}
.icon-book-open:before {
	content: "\e00b";
}
.icon-browser:before {
	content: "\e00c";
}
.icon-calendar:before {
	content: "\e00d";
}
.icon-presentation:before {
	content: "\e00e";
}
.icon-picture:before {
	content: "\e00f";
}
.icon-pictures:before {
	content: "\e010";
}
.icon-video:before {
	content: "\e011";
}
.icon-camera:before {
	content: "\e012";
}
.icon-printer:before {
	content: "\e013";
}
.icon-toolbox:before {
	content: "\e014";
}
.icon-briefcase:before {
	content: "\e015";
}
.icon-wallet:before {
	content: "\e016";
}
.icon-gift:before {
	content: "\e017";
}
.icon-bargraph:before {
	content: "\e018";
}
.icon-grid:before {
	content: "\e019";
}
.icon-expand:before {
	content: "\e01a";
}
.icon-focus:before {
	content: "\e01b";
}
.icon-edit:before {
	content: "\e01c";
}
.icon-adjustments:before {
	content: "\e01d";
}
.icon-ribbon:before {
	content: "\e01e";
}
.icon-hourglass:before {
	content: "\e01f";
}
.icon-lock:before {
	content: "\e020";
}
.icon-megaphone:before {
	content: "\e021";
}
.icon-shield:before {
	content: "\e022";
}
.icon-trophy:before {
	content: "\e023";
}
.icon-flag:before {
	content: "\e024";
}
.icon-map:before {
	content: "\e025";
}
.icon-puzzle:before {
	content: "\e026";
}
.icon-basket:before {
	content: "\e027";
}
.icon-envelope:before {
	content: "\e028";
}
.icon-streetsign:before {
	content: "\e029";
}
.icon-telescope:before {
	content: "\e02a";
}
.icon-gears:before {
	content: "\e02b";
}
.icon-key:before {
	content: "\e02c";
}
.icon-paperclip:before {
	content: "\e02d";
}
.icon-attachment:before {
	content: "\e02e";
}
.icon-pricetags:before {
	content: "\e02f";
}
.icon-lightbulb:before {
	content: "\e030";
}
.icon-layers:before {
	content: "\e031";
}
.icon-pencil:before {
	content: "\e032";
}
.icon-tools:before {
	content: "\e033";
}
.icon-tools-2:before {
	content: "\e034";
}
.icon-scissors:before {
	content: "\e035";
}
.icon-paintbrush:before {
	content: "\e036";
}
.icon-magnifying-glass:before {
	content: "\e037";
}
.icon-circle-compass:before {
	content: "\e038";
}
.icon-linegraph:before {
	content: "\e039";
}
.icon-mic:before {
	content: "\e03a";
}
.icon-strategy:before {
	content: "\e03b";
}
.icon-beaker:before {
	content: "\e03c";
}
.icon-caution:before {
	content: "\e03d";
}
.icon-recycle:before {
	content: "\e03e";
}
.icon-anchor:before {
	content: "\e03f";
}
.icon-profile-male:before {
	content: "\e040";
}
.icon-profile-female:before {
	content: "\e041";
}
.icon-bike:before {
	content: "\e042";
}
.icon-wine:before {
	content: "\e043";
}
.icon-hotairballoon:before {
	content: "\e044";
}
.icon-globe:before {
	content: "\e045";
}
.icon-genius:before {
	content: "\e046";
}
.icon-map-pin:before {
	content: "\e047";
}
.icon-dial:before {
	content: "\e048";
}
.icon-chat:before {
	content: "\e049";
}
.icon-heart:before {
	content: "\e04a";
}
.icon-cloud:before {
	content: "\e04b";
}
.icon-upload:before {
	content: "\e04c";
}
.icon-download:before {
	content: "\e04d";
}
.icon-target:before {
	content: "\e04e";
}
.icon-hazardous:before {
	content: "\e04f";
}
.icon-piechart:before {
	content: "\e050";
}
.icon-speedometer:before {
	content: "\e051";
}
.icon-global:before {
	content: "\e052";
}
.icon-compass:before {
	content: "\e053";
}
.icon-lifesaver:before {
	content: "\e054";
}
.icon-clock:before {
	content: "\e055";
}
.icon-aperture:before {
	content: "\e056";
}
.icon-quote:before {
	content: "\e057";
}
.icon-scope:before {
	content: "\e058";
}
.icon-alarmclock:before {
	content: "\e059";
}
.icon-refresh:before {
	content: "\e05a";
}
.icon-happy:before {
	content: "\e05b";
}
.icon-sad:before {
	content: "\e05c";
}
.icon-facebook:before {
	content: "\e05d";
}
.icon-twitter:before {
	content: "\e05e";
}
.icon-googleplus:before {
	content: "\e05f";
}
.icon-rss:before {
	content: "\e060";
}
.icon-tumblr:before {
	content: "\e061";
}
.icon-linkedin:before {
	content: "\e062";
}
.icon-dribbble:before {
	content: "\e063";
}


:root {
  --primaryColor: #EF3345;
  --primaryTextColor: #ffffff;
  --sectionTitleColor: #404040;
  --color: #666666;
}



body {
  margin: 0;
  padding: 0;
  color: var(--color);
  font-size: 16px;
}

.header--social a{
	color: #ffffff;
	margin: auto;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 14px;

}

.header--contact a{
	color: #ffffff;
	margin: auto;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 14px;
}
.container--navibar{
	background-color: #ffffff;
	height: 90px;
	color: #666666;
	align-items: center;
}

input::placeholder{
	opacity: 1;
	color: #ffffff;
}
.mb-30{
  margin-bottom: 30px;
}

.image{
  height: 420;
  width: 370;
}

.btn.btn-primary {
  background-color: var(--primaryColor);
  border-color: var(--primaryColor);
}


.section__main {
	background-image: url('images/bg_top_photo1.jpg');
	min-height: 700px;
	width: 100%;
	background-position: center;
	
}

.navigation--menu {
  height: 100px;
  background: white;

}

.container--navbar{
	text-align: center;
	background-color: #ffffff;
}

.section--title {
  color: var(--sectionTitleColor);
	text-align: center;
	font-family: "Poppins", sans-serif;
  font-size: 2.5em;
	font-weight: bold;
	margin: auto;
	margin-top: 30px;
	
}

.section--subtitle {
  font-size: 1.1em;
	text-align: center;
	font-family: "Poppins", sans-serif;
  color: #666666;
  max-width: 670px;
	margin-bottom: 3em;
	margin: auto;
  margin-top: 12px;

}

.navigation {
  background-color: #fff;
  height: 100px;
}

.navigation--bar {
  color: var(--primaryTextColor);
}

.feature {
  text-align: center;
}

.feature--icon {
  width: 90px;
  height: 90px;
  display: block;
  border-radius: 50%;
  background-color: var(--primaryColor);
  margin: auto;
  margin-bottom: 2em;
}

.feature--title {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 1.2em;
}

.feature--desc {
  text-align: center;
}

.section__donation{
  background-color: #404040;
  background-image: url("images/donation-bg.jpg");
  min-height: 450px;
	color: #ffffff;
	position: relative;
	overflow: hidden; 
	z-index: 1;
  
}
.section__donation::before{
	background-color: #000000;
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.5;
	z-index: -1;
}
.container--donation .section--title{
	color: #ffffff;
}
.container--donation .section--subtitle{
	color: #ffffff;
	margin-bottom: 30px;
}

.container--donation .form--donation input{ 
  color: var(--primaryTextColor);
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  border-radius: 4px;
  width: 100%;
	height: 45px;
	z-index: 1;
	margin-bottom: 2px;
}
.btn--donateNow{
  background-color: #EF3345;
	width: 100%;
	height: 45px;
  color: var(--primaryTextColor);
}

.campaign {
  position: relative;
  overflow: hidden;
}

.campaign::before {
  background: linear-gradient(to bottom, #000000 0%, #ef3345 100%);
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.75;
  
}

.campaign .image img {
  width: 100%;
  transition: all 0.5s ease 0s;
}

.campaign .content {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 30px;
  
}

.campaign .content h3 {
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-bottom: 6px;
}

.campaign .content ul li {
  color: var(--primaryTextColor);
  font-size: 14px;
  line-height: 26px;
  font-family: "Poppins", sans-serif;
  display: block;
  float: left;
}

.campaign .content ul li i {
  color: var(--primaryTextColor);
  font-size: 14px;
  line-height: 26px;
  margin-right: 10px;
  display: block;
  float: left;
}
.campaign .content h3 a{
  color: #ffffff; 
}

.section__contribiusion{
	background-color: #ef3345;
	min-height: 450px;
	color: #ffffff;
	position: relative;
}
.section__contribiusion--icon{
	font-size: 250px;
	text-align: center;
	display: block;
	margin: auto;
}
.section__contribiusion h3 {
	font-size: 22px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
	margin-bottom: 6px;
	padding-bottom: 20px;
	display: block;
	text-align: center;
}
.underscore{
	background-color: #ffffff;
	height: 2px;
	width: 80px;
	margin: auto;
}
.section__contribiusion p{
	font-size: 16px;
  line-height: 26px;
  font-family: "Poppins", sans-serif;
	display: block;
	text-align: center;
}
.contr{
	font-size: 95px;
	font-weight: 900;
	font-family: "Poppins", sans-serif;
	display: block;
	text-align: center;
}
.btn--volunteer{
  width: 100%;
	color: var(--primaryTextColor);
	display:block;
	margin: auto;
}
.btn--volunteer button{
	background-color:black;
	border: none;
	border-radius: 4px;
	color: #ffffff;
	width: 16rem;;
	height: 3.5rem;
	font-size: 0.9rem;
}
.section__mission{
	padding-top: 110px;
	padding-bottom: 90px;
}
.row--mission{
	align-items: center;
}
.mission-map{
	position: relative;
	overflow: hidden;
	background-color: transparent;
}
.mission-content{
	margin-bottom: 30px;
}
.mission-content h5{
	text-align: left;
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	color: #EF3345;
	line-height: 18px;
	font-weight: 600;
}
.mission-content h2{
	font-family: "Poppins", sans-serif;
	font-size: 30px;
	text-transform: capitalize;
	color: #191919;
	line-height: 36px;
	font-weight: 800;
	margin-bottom: 24px;
	}

.mission-content p{
	font-size: 18px;
	margin-bottom: 26px;
	line-height: 30px;
}
.mission-content h3{
	font-family: "Poppins", sans-serif;
	font-size: 22px;
	text-transform: capitalize;
	color: #ef3345;
	line-height: 28px;
	font-weight: 800;
	margin-bottom: 0;
}


.section__subscribe::before{
	background-color:rgb(11, 11, 104);
	opacity: 0.2;
	width: 100%;
	height: 100%;
	z-index: -1;
	
}

.section__subscribe{
	background-color: #404040;
	background-image: url("images/subscribe-bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	color: #ffffff;
	position: relative;
	padding-top: 100px;
	padding-bottom: 110px;
	z-index: 1;
}

.section__subscribe .container-subscribe .section--title{
	color: #ffffff;
	padding-top: 60px;
	padding-bottom: 16px;
}

.section__subscribe .container-subscribe .section--subtitle{
	color: #ffffff;
	padding-bottom: 60px;
}

.form--subscribe{
	padding-left: 150px;
	padding-right: 150px;
	color: #ffffff;
	padding-bottom: 30px;
	align-content: flex-start;
}

.form--subscribe .input--field{
	border: none;
    border-radius: 4px;
	width: 100%;
	font-family: "Montserrat", sans-serif;

	text-align: center;
	text-rendering: auto;
	display: flex;
	height: 55px;
	color: #ffffff;
	background-color:rgba(94, 97, 100, 0.4);
	margin-bottom: 10px;

}


.btn--subscribe{
	background-color: #EF3345;
	width: 100%;
	font-family: "Montserrat", sans-serif;
	text-align: center;
	color: var(--primaryTextColor);
	height: 55px;
	text-rendering: auto;
	position: relative;
	justify-content: center;
}


