.section__contribiusion {
  width: 100%;
  background-color: #ef3345;
  min-height: 450px;
  color: #ffffff;
  position: relative;
  padding-top: 2em;
  .container {
    .row {
      .contribiusion-icon {
        position: absolute;
        font-size: 150px;
        top: 150px;
        opacity: 0.2;
        left: 100px;
      }
      .contribiusion-icon--right {
        position: absolute;
        font-size: 150px;
        top: 150px;
        opacity: 0.2;
        left: unset;
        right: 100px;
      }

      .col-sm-6 .offset-sm-3 {
        .numbers {
          align-content: center;
          margin: auto;
          h3 {
            font-size: 22px;
            font-family: "Poppins", sans-serif;
            font-weight: 600;
            margin-bottom: 6px;
            padding-bottom: 20px;
            display: block;
            text-align: center;
          }
          .underscore {
            background-color: #ffffff;
            height: 2px;
            width: 80px;
            margin: auto;
          }
          .contr {
            output {
              width: 100%;
              font-size: 4rem;
              font-weight: 900;
              font-family: "Montserrat", sans-serif;
              display: block;
              text-align: center;
              line-height: 2;
              margin: auto;
            }
          }
          p {
            font-size: 16px;
            line-height: 26px;
            font-family: "Poppins", sans-serif;
            display: block;
            text-align: center;
          }
          .btn--volunteer {
            background-color: black;
            border: none;
            border-radius: 4px;
            color: #ffffff;
            width: 16rem;
            height: 3.5rem;
            font-size: 0.9rem;
            display: block;
            margin: auto;
            position: relative;
            z-index: 2;
            &:before {
              content: "";
              width: 0%;
              background-color: #ec1026;
              top: 0;
              left: 0;
              bottom: 0;
              border-radius: 4px;
              position: absolute;
              transition: all 1.5s ease;
              z-index: -1;
            }
            &:active:before,
            &:focus:before,
            &:hover:before {
              background-color: #ec1026;
              width: 100%;
              transition: all 2s ease;
            }
          }
        }
      }
    }
  }
}
