.section__statement{
    width: 100%;
    padding-top: 1.5 em;
    padding-bottom: 1.5 em;
    .container-statement{
        margin-bottom: 2em;
        padding-top: 2em;

        .section__title {
            color: var(--sectionTitleColor);
            text-align: center;
            font-family: "Poppins", sans-serif;
            font-size: 2.5em;
            font-weight: bold;
            margin: auto;
            margin-top: 30px;

        }
        .section__subtitle {
            font-size: 1.1em;
            text-align: center;
            font-family: "Poppins", sans-serif;
            color: #666666;
            max-width: 670px;
            margin-bottom: 3em;
            margin: auto;
            margin-top: 12px;
          
        }

    }

}
