.section__campaign {
  width: 100%;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  background-color: #ffffff;
  .container {
    margin-bottom: 2em;
    padding-top: 1.5em;
    .section__title {
      color: var(--sectionTitleColor);
      text-align: center;
      font-family: "Poppins", sans-serif;
      font-size: 2.5em;
      font-weight: bold;
      margin: auto;
      margin-top: 30px;
    }
    .section__subtitle {
      font-size: 1.1em;
      text-align: center;
      font-family: "Poppins", sans-serif;
      color: #666666;
      max-width: 670px;
      margin: auto;
      margin-bottom: 2em;
      margin-top: 12px;
    }
  }
  .campaign {
    position: relative;
    overflow: hidden;
    &::before {
      background: linear-gradient(to bottom, #000000 0%, #ef3345 100%);
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0.75;
      z-index: 2;
    }
    .image {
      height: 420;
      width: 370;
      img {
        width: 100%;

        transition: transform 0.5s ease 0s;
      }
    }
    &:hover {
      img {
        transition: 0.5s ease 0.5s;
        transform: scale(1.2);
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
  .content {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 30px;
    z-index: 3;
    h3 {
      font-size: 22px;
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      margin-bottom: 6px;
      a {
        color: #ffffff;
      }
    }
    ul {
      margin: 0;
      padding: 0;
      li {
        color: var(--primaryTextColor);
        font-size: 14px;
        line-height: 26px;
        font-family: "Poppins", sans-serif;
        display: block;
        float: left;
        i {
          color: var(--primaryTextColor);
          font-size: 14px;
          line-height: 26px;
          margin-right: 10px;
          display: block;
          float: left;
        }
      }
    }
  }
}
