/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/screen.scss */
.section-header {
  width: 100%;
  margin: 0;
  padding: 0;
}
/* line 13, ../sass/screen.scss */
.section-header .header-contactbar {
  height: 45px;
  padding-top: 5px;
}
/* line 18, ../sass/screen.scss */
.section-header .header-contactbar .header-social a {
  color: #ffffff;
  margin: auto;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 35px;
  padding-right: 10px;
}
/* line 25, ../sass/screen.scss */
.section-header .header-contactbar .header-social a :hover {
  color: #EF3345;
}
/* line 30, ../sass/screen.scss */
.section-header .header-contactbar .header-contact a {
  color: #ffffff;
  margin: auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14px;
  margin-left: 20px;
}
/* line 36, ../sass/screen.scss */
.section-header .header-contactbar .header-contact a :hover {
  color: #EF3345;
}
/* line 39, ../sass/screen.scss */
.section-header .header-contactbar .header-contact a :focus:active {
  color: #EF3345;
  text-decoration: none;
}
/* line 44, ../sass/screen.scss */
.section-header .header-contactbar .header-contact a i {
  font-weight: 700;
}

/* line 53, ../sass/screen.scss */
.header-navbar {
  height: 90px;
  background-color: #ffffff;
  line-height: 24px;
  font-size: 14px;
  padding-top: 18px;
  font-style: normal;
  font-weight: normal;
  visibility: visible;
  font-family: "Poppins", sans-serif;
  color: #666666;
}
/* line 66, ../sass/screen.scss */
.header-navbar .navbar {
  background-color: #ffffff;
}
/* line 69, ../sass/screen.scss */
.header-navbar .navbar .navbar-brand.navbar-brand--logo {
  color: #EF3345;
  font-size: 45px;
  font-weight: 900;
}
/* line 75, ../sass/screen.scss */
.header-navbar .navbar ul {
  margin-left: auto;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
/* line 79, ../sass/screen.scss */
.header-navbar .navbar ul li {
  margin-left: 25px;
}
/* line 81, ../sass/screen.scss */
.header-navbar .navbar ul li :hover :focus {
  color: #EF3345;
}
/* line 85, ../sass/screen.scss */
.header-navbar .navbar ul li a.dropdown-menu.dropdown-item {
  transition: transform 1.5s ease-in, color 0.2 ease-in-out;
}
/* line 88, ../sass/screen.scss */
.header-navbar .navbar ul li :hover .dropdown-item:hover {
  transform: translateX(5px);
  overflow: hidden;
  color: #EF3345;
  background-color: transparent;
}
