/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/components/_section-header.scss */
.section-header {
  width: 100%;
  margin: 0;
  padding: 0;
}
/* line 6, ../sass/components/_section-header.scss */
.section-header .header-contactbar {
  height: 45px;
  padding-top: 5px;
}
/* line 13, ../sass/components/_section-header.scss */
.section-header .header-contactbar .header-social a {
  color: #ffffff;
  margin: auto;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 35px;
  padding-right: 10px;
}
/* line 20, ../sass/components/_section-header.scss */
.section-header .header-contactbar .header-social a:hover {
  color: #EF3345;
}
/* line 25, ../sass/components/_section-header.scss */
.section-header .header-contactbar .header-contact {
  float: right;
}
/* line 27, ../sass/components/_section-header.scss */
.section-header .header-contactbar .header-contact a {
  color: #ffffff;
  margin: auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14px;
  margin-left: 20px;
}
/* line 33, ../sass/components/_section-header.scss */
.section-header .header-contactbar .header-contact a:hover {
  color: #EF3345;
}
/* line 36, ../sass/components/_section-header.scss */
.section-header .header-contactbar .header-contact a:focus:active {
  color: #EF3345;
  text-decoration: none;
}
/* line 40, ../sass/components/_section-header.scss */
.section-header .header-contactbar .header-contact a i {
  font-weight: 700;
}

/* line 1, ../sass/components/_header-navbar.scss */
.header-navbar {
  height: 100px;
  background-color: #ffffff;
  line-height: 24px;
  font-size: 14px;
  padding-top: 18px;
  font-style: normal;
  font-weight: normal;
  visibility: visible;
  font-family: "Poppins", sans-serif;
  color: #666666;
}
/* line 12, ../sass/components/_header-navbar.scss */
.header-navbar .header__container--navbar {
  padding-left: 0px;
  padding-right: 0px;
}
/* line 17, ../sass/components/_header-navbar.scss */
.header-navbar .navbar {
  background-color: #ffffff;
  float: right;
}
/* line 21, ../sass/components/_header-navbar.scss */
.header-navbar .navbar .navbar-brand--logo {
  color: #EF3345;
  font-size: 45px;
  font-weight: 900;
  margin-right: 200px;
}
/* line 29, ../sass/components/_header-navbar.scss */
.header-navbar .navbar .navbar-nav ul {
  margin-left: auto;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
/* line 35, ../sass/components/_header-navbar.scss */
.header-navbar .navbar .navbar-nav li {
  margin-left: 25px;
}
/* line 40, ../sass/components/_header-navbar.scss */
.header-navbar .navbar .navbar-nav li a:hover:focus:active .nav-itema {
  color: #EF3345;
}
/* line 44, ../sass/components/_header-navbar.scss */
.header-navbar .navbar .navbar-nav li a .dropdown-menu.dropdown-item {
  transition: transform 1.5s ease-in, color 0.2 ease-in-out;
}
/* line 49, ../sass/components/_header-navbar.scss */
.header-navbar .navbar .navbar-nav li a:hover {
  color: #EF3345;
}
/* line 52, ../sass/components/_header-navbar.scss */
.header-navbar .navbar .navbar-nav li a:hover.dropdown-item:hover {
  transform: translateX(5px);
  overflow: hidden;
  color: #EF3345;
  background-color: transparent;
}
/* line 61, ../sass/components/_header-navbar.scss */
.header-navbar .navbar .navbar-nav .active a {
  color: #EF3345;
}
/* line 67, ../sass/components/_header-navbar.scss */
.header-navbar .navbar form {
  margin-left: 20px;
  background-color: #EF3345;
  color: #ffffff;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  position: relative;
  display: inline-block;
  border-radius: 5px;
}
/* line 77, ../sass/components/_header-navbar.scss */
.header-navbar .navbar form .navbar__btn--donate {
  position: relative;
  color: #ffffff;
  font-size: inherit;
  border-style: inherit;
  font-family: inherit;
  display: inherit;
}
/* line 86, ../sass/components/_header-navbar.scss */
.header-navbar .navbar form:before {
  content: "";
  width: 0;
  background-color: black;
  top: 0;
  left: 0;
  bottom: 0;
  border-radius: 5px;
  position: absolute;
  transition: all 1.5s ease;
}
/* line 97, ../sass/components/_header-navbar.scss */
.header-navbar .navbar form:hover:before {
  background-color: #000000;
  width: 100%;
  transition: all 2s ease;
}

/* line 1, ../sass/components/_feature.scss */
.feature {
  text-align: center;
}
/* line 4, ../sass/components/_feature.scss */
.feature i {
  height: 80px;
  width: 80px;
  line-height: 80px;
  font-size: 35px;
  color: #ffffff;
  text-align: center;
  text-justify: midle;
  display: block;
  border-radius: 50%;
  background-color: var(--primaryColor);
  margin: auto;
  margin-bottom: 1em;
  transition: background-color 0.5s ease-in-out 3s;
}
/* line 19, ../sass/components/_feature.scss */
.feature i:hover {
  background-color: #04072e;
  transition: 1s ease-in-out;
}
/* line 24, ../sass/components/_feature.scss */
.feature i .sliding-slashes {
  height: 100%;
  width: 100%;
  display: block;
  align-content: center;
  position: absolute;
  left: 50%;
  top: -35%;
  background: transparent;
  transform: rotate(-45deg);
  z-index: -1;
}
/* line 38, ../sass/components/_feature.scss */
.feature i .sliding-slashes .body1 {
  height: 2px;
  width: 0px;
  margin-bottom: 5px;
  background-color: #04072e;
  border: none;
  opacity: 0.9;
  transition: width 1s ease-in-out 2s;
}
/* line 48, ../sass/components/_feature.scss */
.feature i .sliding-slashes .body2 {
  height: 2px;
  width: 0px;
  margin-bottom: 5px;
  margin-left: 10px;
  background-color: #04072e;
  border: none;
  opacity: 0.9;
  transition: width 1s ease-in-out 1.5s;
}
/* line 59, ../sass/components/_feature.scss */
.feature i .sliding-slashes .body3 {
  height: 2px;
  width: 0px;
  background-color: #04072e;
  border: none;
  opacity: 0.9;
  transition: 1s ease-in-out 0.5s;
}
/* line 69, ../sass/components/_feature.scss */
.feature i:hover .body1 {
  width: 115px;
  transition: 2s ease 0.5s;
}
/* line 73, ../sass/components/_feature.scss */
.feature i:hover .body2 {
  width: 115px;
  transition: 2s ease 1.5s;
}
/* line 77, ../sass/components/_feature.scss */
.feature i:hover .body3 {
  width: 115px;
  transition: 1s ease 2s;
}
/* line 83, ../sass/components/_feature.scss */
.feature .feature--title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 1.2em;
}
/* line 89, ../sass/components/_feature.scss */
.feature .feature--desc {
  margin-bottom: 2em;
}

/* line 1, ../sass/components/_section__statement.scss */
.section__statement {
  padding-top: 1.5 em;
  padding-bottom: 1.5 em;
}
/* line 4, ../sass/components/_section__statement.scss */
.section__statement .container-statement {
  margin-bottom: 2em;
  padding-top: 2em;
}
/* line 8, ../sass/components/_section__statement.scss */
.section__statement .container-statement .section__title {
  color: var(--sectionTitleColor);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  margin: auto;
  margin-top: 30px;
}
/* line 18, ../sass/components/_section__statement.scss */
.section__statement .container-statement .section__subtitle {
  font-size: 1.1em;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #666666;
  max-width: 670px;
  margin-bottom: 3em;
  margin: auto;
  margin-top: 12px;
}

/* line 1, ../sass/components/_section__donation.scss */
.section__donation {
  background-color: #404040;
  background-image: url("../images/donation-bg.jpg");
  min-height: 450px;
  padding: 1.5em;
  margin-bottom: 2em;
  width: 100%;
  color: #ffffff;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
/* line 12, ../sass/components/_section__donation.scss */
.section__donation::before {
  background-color: #000000;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index: -1;
}
/* line 24, ../sass/components/_section__donation.scss */
.section__donation .container--donation .section__title {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  margin: auto;
  margin-top: 30px;
}
/* line 33, ../sass/components/_section__donation.scss */
.section__donation .container--donation .section__subtitle {
  color: #ffffff;
  font-size: 1.1em;
  text-align: center;
  font-family: "Poppins", sans-serif;
  max-width: 670px;
  margin-bottom: 3em;
  margin: auto;
  margin-top: 12px;
  margin-bottom: 30px;
}
/* line 45, ../sass/components/_section__donation.scss */
.section__donation .container--donation .form--donation input {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  border-radius: 4px;
  width: 100%;
  height: 45px;
  z-index: 1;
  margin-bottom: 2px;
}
/* line 54, ../sass/components/_section__donation.scss */
.section__donation .container--donation .form--donation input placeholder {
  color: #ffffff;
}
/* line 58, ../sass/components/_section__donation.scss */
.section__donation .container--donation .form--donation .btn--donateNow {
  background-color: #EF3345;
  width: 100%;
  height: 45px;
  color: var(--primaryTextColor);
}

/* line 14, ../sass/screen.scss */
.section__campaign {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
/* line 17, ../sass/screen.scss */
.section__campaign .container {
  margin-bottom: 2em;
  padding-top: 1.5em;
}
/* line 20, ../sass/screen.scss */
.section__campaign .container .section__title {
  color: var(--sectionTitleColor);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  margin: auto;
  margin-top: 30px;
}
/* line 29, ../sass/screen.scss */
.section__campaign .container .section__subtitle {
  font-size: 1.1em;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #666666;
  max-width: 670px;
  margin: auto;
  margin-bottom: 2em;
  margin-top: 12px;
}
/* line 41, ../sass/screen.scss */
.section__campaign .campaign {
  position: relative;
  overflow: hidden;
}
/* line 44, ../sass/screen.scss */
.section__campaign .campaign::before {
  background: linear-gradient(to bottom, #000000 0%, #ef3345 100%);
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.75;
}
/* line 54, ../sass/screen.scss */
.section__campaign .campaign .image {
  height: 420;
  width: 370;
}
/* line 57, ../sass/screen.scss */
.section__campaign .campaign .image img {
  width: 100%;
  transition: transform 0.5s ease 0s;
}
/* line 64, ../sass/screen.scss */
.section__campaign .campaign:hover img {
  transform: scale(1.2);
  transition: 0.5s ease 0.5s;
}
/* line 70, ../sass/screen.scss */
.section__campaign .content {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 30px;
}
/* line 76, ../sass/screen.scss */
.section__campaign .content h3 {
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-bottom: 6px;
}
/* line 81, ../sass/screen.scss */
.section__campaign .content h3 a {
  color: #ffffff;
}
/* line 85, ../sass/screen.scss */
.section__campaign .content ul {
  margin: 0;
  padding: 0;
}
/* line 88, ../sass/screen.scss */
.section__campaign .content ul li {
  color: var(--primaryTextColor);
  font-size: 14px;
  line-height: 26px;
  font-family: "Poppins", sans-serif;
  display: block;
  float: left;
}
/* line 95, ../sass/screen.scss */
.section__campaign .content ul li i {
  color: var(--primaryTextColor);
  font-size: 14px;
  line-height: 26px;
  margin-right: 10px;
  display: block;
  float: left;
}
