/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../.rvm/gems/ruby-2.5.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.5.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.5.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.5.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.5.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.5.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.5.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.5.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.5.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/shared/_main.scss */
:root {
  --primaryColor: #ef3345;
  --primaryTextColor: #ffffff;
  --sectionTitleColor: #404040;
  --color: #666666;
}

/* line 8, ../sass/shared/_main.scss */
html {
  position: relative;
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
}

/* line 16, ../sass/shared/_main.scss */
body {
  margin: 0;
  padding: 0;
  color: var(--color);
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  width: 100%;
}

/* line 1, ../sass/shared/_bootstrap-override.scss */
.btn.btn-primary {
  background-color: var(--primaryColor);
  border-color: var(--primaryColor);
}

/* line 1, ../sass/components/_section__main.scss */
.section__main {
  background-image: url("../images/bg_top_photo1.jpg");
  min-height: 700px;
  width: 100%;
  background-position: center;
  position: relative;
  z-index: -100;
}

/* line 1, ../sass/components/_section-header.scss */
.section-header {
  width: 100%;
  margin: 0;
  padding: 0;
}
/* line 6, ../sass/components/_section-header.scss */
.section-header .header-contactbar {
  height: 45px;
  padding-top: 5px;
}
/* line 11, ../sass/components/_section-header.scss */
.section-header .header-contactbar .header-social a {
  color: #ffffff;
  margin: auto;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 35px;
  padding-right: 10px;
}
/* line 18, ../sass/components/_section-header.scss */
.section-header .header-contactbar .header-social a:hover {
  color: #ef3345;
}
/* line 23, ../sass/components/_section-header.scss */
.section-header .header-contactbar .header-contact {
  float: right;
}
/* line 25, ../sass/components/_section-header.scss */
.section-header .header-contactbar .header-contact a {
  color: #ffffff;
  margin: auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 14px;
  margin-left: 20px;
}
/* line 32, ../sass/components/_section-header.scss */
.section-header .header-contactbar .header-contact a:hover {
  color: #ef3345;
}
/* line 35, ../sass/components/_section-header.scss */
.section-header .header-contactbar .header-contact a:focus:active {
  color: #ef3345;
  text-decoration: none;
}
/* line 39, ../sass/components/_section-header.scss */
.section-header .header-contactbar .header-contact a i {
  font-weight: 700;
}

/* line 1, ../sass/components/_header-navbar.scss */
.header-navbar {
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  line-height: 24px;
  font-size: 14px;
  padding-top: 18px;
  font-style: normal;
  font-weight: normal;
  visibility: visible;
  font-family: "Poppins", sans-serif;
  color: #666666;
}
/* line 13, ../sass/components/_header-navbar.scss */
.header-navbar .header__container--navbar {
  padding-left: 0px;
  padding-right: 0px;
}
/* line 18, ../sass/components/_header-navbar.scss */
.header-navbar .navbar {
  background-color: #ffffff;
  float: right;
}
/* line 22, ../sass/components/_header-navbar.scss */
.header-navbar .navbar .navbar-brand--logo {
  color: #ef3345;
  font-size: 45px;
  font-weight: 900;
  margin-right: 200px;
}
/* line 30, ../sass/components/_header-navbar.scss */
.header-navbar .navbar .navbar-nav ul {
  margin-left: auto;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
/* line 35, ../sass/components/_header-navbar.scss */
.header-navbar .navbar .navbar-nav li {
  margin-left: 25px;
}
/* line 39, ../sass/components/_header-navbar.scss */
.header-navbar .navbar .navbar-nav li a:hover:focus:active .nav-item {
  color: #ef3345;
}
/* line 42, ../sass/components/_header-navbar.scss */
.header-navbar .navbar .navbar-nav li a .dropdown-menu.dropdown-item {
  transition: transform 1.5s ease-in, color 0.2 ease-in-out;
}
/* line 46, ../sass/components/_header-navbar.scss */
.header-navbar .navbar .navbar-nav li a:hover {
  color: #ef3345;
}
/* line 49, ../sass/components/_header-navbar.scss */
.header-navbar .navbar .navbar-nav li a:hover.dropdown-item:hover {
  transform: translateX(5px);
  overflow: hidden;
  color: #ef3345;
  background-color: transparent;
}
/* line 58, ../sass/components/_header-navbar.scss */
.header-navbar .navbar .navbar-nav .active a {
  color: #ef3345;
}
/* line 64, ../sass/components/_header-navbar.scss */
.header-navbar .navbar form {
  margin-left: 20px;
  background-color: #ef3345;
  color: #ffffff;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  position: relative;
  display: inline-block;
  border-radius: 5px;
}
/* line 74, ../sass/components/_header-navbar.scss */
.header-navbar .navbar form .navbar__btn--donate {
  position: relative;
  color: #ffffff;
  font-size: inherit;
  border-style: inherit;
  font-family: inherit;
  display: inherit;
}
/* line 83, ../sass/components/_header-navbar.scss */
.header-navbar .navbar form:before {
  content: "";
  width: 0;
  background-color: black;
  top: 0;
  left: 0;
  bottom: 0;
  border-radius: 5px;
  position: absolute;
  transition: all 1.5s ease;
}
/* line 94, ../sass/components/_header-navbar.scss */
.header-navbar .navbar form:hover:before {
  background-color: #000000;
  width: 100%;
  transition: all 2s ease;
}

/* line 1, ../sass/components/_feature.scss */
.feature {
  text-align: center;
}
/* line 4, ../sass/components/_feature.scss */
.feature i {
  height: 80px;
  width: 80px;
  line-height: 80px;
  font-size: 35px;
  color: #ffffff;
  text-align: center;
  display: block;
  border-radius: 50%;
  background-color: var(--primaryColor);
  margin: auto;
  margin-bottom: 1em;
  transition: background-color 0.5s ease-in-out 3s;
  position: relative;
}
/* line 18, ../sass/components/_feature.scss */
.feature i:hover {
  background-color: #04072e;
  transition: 1s ease-in-out;
}
/* line 23, ../sass/components/_feature.scss */
.feature i .sliding-slashes {
  height: 100%;
  width: 100%;
  margin-right: 0;
  display: block;
  align-content: center;
  position: absolute;
  left: 8px;
  top: -8px;
  background: transparent;
  transform: translateY(50%) rotate(-45deg);
  z-index: -1;
}
/* line 36, ../sass/components/_feature.scss */
.feature i .sliding-slashes .body1 {
  height: 2px;
  width: 0px;
  margin-bottom: 5px;
  background-color: #04072e;
  border: none;
  opacity: 0.9;
  transition: width 1s ease-in-out 2s;
}
/* line 45, ../sass/components/_feature.scss */
.feature i .sliding-slashes .body2 {
  height: 2px;
  width: 0px;
  margin-bottom: 5px;
  margin-left: 10px;
  background-color: #04072e;
  border: none;
  opacity: 0.9;
  transition: width 1s ease-in-out 1.5s;
}
/* line 55, ../sass/components/_feature.scss */
.feature i .sliding-slashes .body3 {
  height: 2px;
  width: 0px;
  background-color: #04072e;
  border: none;
  opacity: 0.9;
  transition: 1s ease-in-out 0.5s;
}
/* line 65, ../sass/components/_feature.scss */
.feature i:hover .body1 {
  width: 110px;
  transition: 2s ease 0.5s;
}
/* line 69, ../sass/components/_feature.scss */
.feature i:hover .body2 {
  width: 110px;
  transition: 2s ease 1.5s;
}
/* line 73, ../sass/components/_feature.scss */
.feature i:hover .body3 {
  width: 110px;
  transition: 1s ease 2s;
}
/* line 79, ../sass/components/_feature.scss */
.feature .feature--title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 1.2em;
}
/* line 84, ../sass/components/_feature.scss */
.feature .feature--desc {
  margin-bottom: 4em;
}

/* line 1, ../sass/components/_section__statement.scss */
.section__statement {
  width: 100%;
  padding-top: 1.5 em;
  padding-bottom: 2.5 em;
  background-color: #ffffff;
  position: relative;
  z-index: 1;
}
/* line 8, ../sass/components/_section__statement.scss */
.section__statement .container-statement {
  margin-bottom: 2em;
  padding-top: 2em;
}
/* line 12, ../sass/components/_section__statement.scss */
.section__statement .container-statement .section__title {
  color: var(--sectionTitleColor);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  margin: auto;
  margin-top: 30px;
}
/* line 21, ../sass/components/_section__statement.scss */
.section__statement .container-statement .section__subtitle {
  font-size: 1.1em;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #666666;
  max-width: 670px;
  margin-bottom: 3em;
  margin: auto;
  margin-top: 12px;
}

/* line 1, ../sass/components/_section__donation.scss */
.section__donation {
  width: 100%;
  background-color: #404040;
  background-image: url("../images/donation-bg.jpg");
  min-height: 450px;
  padding: 1.5em;
  padding-bottom: 2em;
  width: 100%;
  color: #ffffff;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
/* line 13, ../sass/components/_section__donation.scss */
.section__donation::before {
  background-color: #000000;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index: -1;
}
/* line 25, ../sass/components/_section__donation.scss */
.section__donation .container--donation .section__title {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  margin: auto;
  margin-top: 30px;
}
/* line 34, ../sass/components/_section__donation.scss */
.section__donation .container--donation .section__subtitle {
  color: #ffffff;
  font-size: 1.1em;
  text-align: center;
  font-family: "Poppins", sans-serif;
  max-width: 670px;
  margin-bottom: 3em;
  margin: auto;
  margin-top: 12px;
  margin-bottom: 30px;
}
/* line 46, ../sass/components/_section__donation.scss */
.section__donation .container--donation .form--donation input {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  border-radius: 4px;
  width: 100%;
  height: 45px;
  z-index: 1;
  margin-bottom: 2px;
}
/* line 55, ../sass/components/_section__donation.scss */
.section__donation .container--donation .form--donation input placeholder {
  color: #ffffff;
}
/* line 59, ../sass/components/_section__donation.scss */
.section__donation .container--donation .form--donation .btn--donateNow {
  background-color: #ef3345;
  width: 100%;
  height: 45px;
  color: var(--primaryTextColor);
}

/* line 1, ../sass/components/_section__campaign.scss */
.section__campaign {
  width: 100%;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  background-color: #ffffff;
}
/* line 6, ../sass/components/_section__campaign.scss */
.section__campaign .container {
  margin-bottom: 2em;
  padding-top: 1.5em;
}
/* line 9, ../sass/components/_section__campaign.scss */
.section__campaign .container .section__title {
  color: var(--sectionTitleColor);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  margin: auto;
  margin-top: 30px;
}
/* line 18, ../sass/components/_section__campaign.scss */
.section__campaign .container .section__subtitle {
  font-size: 1.1em;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #666666;
  max-width: 670px;
  margin: auto;
  margin-bottom: 2em;
  margin-top: 12px;
}
/* line 29, ../sass/components/_section__campaign.scss */
.section__campaign .campaign {
  position: relative;
  overflow: hidden;
}
/* line 32, ../sass/components/_section__campaign.scss */
.section__campaign .campaign::before {
  background: linear-gradient(to bottom, #000000 0%, #ef3345 100%);
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.75;
  z-index: 2;
}
/* line 43, ../sass/components/_section__campaign.scss */
.section__campaign .campaign .image {
  height: 420;
  width: 370;
}
/* line 46, ../sass/components/_section__campaign.scss */
.section__campaign .campaign .image img {
  width: 100%;
  transition: transform 0.5s ease 0s;
}
/* line 52, ../sass/components/_section__campaign.scss */
.section__campaign .campaign:hover img {
  transition: 0.5s ease 0.5s;
  transform: scale(1.2);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
/* line 62, ../sass/components/_section__campaign.scss */
.section__campaign .content {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 30px;
  z-index: 3;
}
/* line 69, ../sass/components/_section__campaign.scss */
.section__campaign .content h3 {
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-bottom: 6px;
}
/* line 74, ../sass/components/_section__campaign.scss */
.section__campaign .content h3 a {
  color: #ffffff;
}
/* line 78, ../sass/components/_section__campaign.scss */
.section__campaign .content ul {
  margin: 0;
  padding: 0;
}
/* line 81, ../sass/components/_section__campaign.scss */
.section__campaign .content ul li {
  color: var(--primaryTextColor);
  font-size: 14px;
  line-height: 26px;
  font-family: "Poppins", sans-serif;
  display: block;
  float: left;
}
/* line 88, ../sass/components/_section__campaign.scss */
.section__campaign .content ul li i {
  color: var(--primaryTextColor);
  font-size: 14px;
  line-height: 26px;
  margin-right: 10px;
  display: block;
  float: left;
}

/* line 1, ../sass/components/_section__contribiusion.scss */
.section__contribiusion {
  width: 100%;
  background-color: #ef3345;
  min-height: 450px;
  color: #ffffff;
  position: relative;
  padding-top: 2em;
}
/* line 10, ../sass/components/_section__contribiusion.scss */
.section__contribiusion .container .row .contribiusion-icon {
  position: absolute;
  font-size: 150px;
  top: 150px;
  opacity: 0.2;
  left: 100px;
}
/* line 17, ../sass/components/_section__contribiusion.scss */
.section__contribiusion .container .row .contribiusion-icon--right {
  position: absolute;
  font-size: 150px;
  top: 150px;
  opacity: 0.2;
  left: unset;
  right: 100px;
}
/* line 27, ../sass/components/_section__contribiusion.scss */
.section__contribiusion .container .row .col-sm-6 .offset-sm-3 .numbers {
  align-content: center;
  margin: auto;
}
/* line 30, ../sass/components/_section__contribiusion.scss */
.section__contribiusion .container .row .col-sm-6 .offset-sm-3 .numbers h3 {
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-bottom: 6px;
  padding-bottom: 20px;
  display: block;
  text-align: center;
}
/* line 39, ../sass/components/_section__contribiusion.scss */
.section__contribiusion .container .row .col-sm-6 .offset-sm-3 .numbers .underscore {
  background-color: #ffffff;
  height: 2px;
  width: 80px;
  margin: auto;
}
/* line 46, ../sass/components/_section__contribiusion.scss */
.section__contribiusion .container .row .col-sm-6 .offset-sm-3 .numbers .contr output {
  width: 100%;
  font-size: 4rem;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
  display: block;
  text-align: center;
  line-height: 2;
  margin: auto;
}
/* line 57, ../sass/components/_section__contribiusion.scss */
.section__contribiusion .container .row .col-sm-6 .offset-sm-3 .numbers p {
  font-size: 16px;
  line-height: 26px;
  font-family: "Poppins", sans-serif;
  display: block;
  text-align: center;
}
/* line 64, ../sass/components/_section__contribiusion.scss */
.section__contribiusion .container .row .col-sm-6 .offset-sm-3 .numbers .btn--volunteer {
  background-color: black;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  width: 16rem;
  height: 3.5rem;
  font-size: 0.9rem;
  display: block;
  margin: auto;
  position: relative;
  z-index: 2;
}
/* line 76, ../sass/components/_section__contribiusion.scss */
.section__contribiusion .container .row .col-sm-6 .offset-sm-3 .numbers .btn--volunteer:before {
  content: "";
  width: 0%;
  background-color: #ec1026;
  top: 0;
  left: 0;
  bottom: 0;
  border-radius: 4px;
  position: absolute;
  transition: all 1.5s ease;
  z-index: -1;
}
/* line 88, ../sass/components/_section__contribiusion.scss */
.section__contribiusion .container .row .col-sm-6 .offset-sm-3 .numbers .btn--volunteer:active:before, .section__contribiusion .container .row .col-sm-6 .offset-sm-3 .numbers .btn--volunteer:focus:before, .section__contribiusion .container .row .col-sm-6 .offset-sm-3 .numbers .btn--volunteer:hover:before {
  background-color: #ec1026;
  width: 100%;
  transition: all 2s ease;
}

/* line 1, ../sass/components/_section__mission.scss */
.section__mission {
  padding-top: 110px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
/* line 6, ../sass/components/_section__mission.scss */
.section__mission .container .row--mission {
  align-items: center;
}
/* line 9, ../sass/components/_section__mission.scss */
.section__mission .container .row--mission .col-map .mission-map {
  position: relative;
  overflow: hidden;
  background-color: transparent;
}
/* line 15, ../sass/components/_section__mission.scss */
.section__mission .container .row--mission .mission-content {
  margin-bottom: 2em;
}
/* line 17, ../sass/components/_section__mission.scss */
.section__mission .container .row--mission .mission-content h5 {
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #ef3345;
  line-height: 18px;
  font-weight: 900;
}
/* line 26, ../sass/components/_section__mission.scss */
.section__mission .container .row--mission .mission-content h2 {
  font-family: "Poppins", sans-serif;
  font-size: 2em;
  text-transform: capitalize;
  color: #191919;
  line-height: 36px;
  font-weight: 1000;
  margin-bottom: 1.5em;
}
/* line 35, ../sass/components/_section__mission.scss */
.section__mission .container .row--mission .mission-content h3 {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  text-transform: capitalize;
  color: #ef3345;
  line-height: 28px;
  font-weight: 1000;
  margin-bottom: 0;
}
/* line 44, ../sass/components/_section__mission.scss */
.section__mission .container .row--mission .mission-content p {
  font-size: 18px;
  margin-bottom: 26px;
  line-height: 30px;
}

/* line 1, ../sass/components/_section__subscribe.scss */
.section__subscribe {
  background-color: #404040;
  background-image: url("../images/subscribe-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  color: #ffffff;
  position: relative;
  padding-top: 6em;
  padding-bottom: 7em;
  z-index: 1;
}
/* line 14, ../sass/components/_section__subscribe.scss */
.section__subscribe::before {
  background-color: #0b0b68;
  opacity: 0.2;
  width: 100%;
  height: 100%;
  z-index: -1;
}
/* line 22, ../sass/components/_section__subscribe.scss */
.section__subscribe .container-subscribe .section__title {
  color: #ffffff;
  padding-top: 4em;
  padding-bottom: 1em;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  margin: auto;
  margin-top: 2em;
}
/* line 33, ../sass/components/_section__subscribe.scss */
.section__subscribe .container-subscribe .section__subtitle {
  color: #ffffff;
  font-size: 1.1em;
  text-align: center;
  font-family: "Poppins", sans-serif;
  max-width: 670px;
  margin-bottom: 3em;
  margin: auto;
  margin-top: 0.75em;
  margin-bottom: 2em;
  padding-bottom: 4em;
}
/* line 47, ../sass/components/_section__subscribe.scss */
.section__subscribe .container--form .form--subscribe {
  align-items: left;
  display: block;
  color: #ffffff;
  padding-bottom: 30px;
  align-content: flex-start;
}
/* line 54, ../sass/components/_section__subscribe.scss */
.section__subscribe .container--form .form--subscribe .row--subscribe .input--field {
  position: relative;
  border: none;
  border-radius: 4px;
  width: 100%;
  height: 3.5em;
  font-family: "Montserrat", sans-serif;
  text-align: left;
  font-size: 0.9em;
  font-weight: 600;
  display: block;
  min-width: 15.5em;
  padding: 1em 2em;
  color: #ffffff;
  background-color: rgba(94, 97, 100, 0.4);
  margin-bottom: 0.7em;
}
/* line 71, ../sass/components/_section__subscribe.scss */
.section__subscribe .container--form .form--subscribe .row--subscribe .btn--subscribe {
  display: inline-block;
  height: 3.5em;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9em;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  background-color: #ef3345;
  text-rendering: auto;
  position: relative;
  justify-content: center;
}

/* line 1, ../sass/components/_section-news.scss */
.section-news {
  background-color: #ffffff;
}
/* line 3, ../sass/components/_section-news.scss */
.section-news .container-news {
  margin-bottom: 6em;
  text-align: center;
}
/* line 6, ../sass/components/_section-news.scss */
.section-news .container-news .section__title {
  color: #404040;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  margin: auto;
  padding-top: 2em;
}
/* line 15, ../sass/components/_section-news.scss */
.section-news .container-news .section__subtitle {
  color: #666666;
  font-size: 1.1em;
  text-align: center;
  font-family: "Poppins", sans-serif;
  max-width: 670px;
  margin-bottom: 3em;
  margin: auto;
  margin-top: 0.75em;
  margin-bottom: 2em;
}
/* line 28, ../sass/components/_section-news.scss */
.section-news .news__conteiner-card .row-card {
  padding-bottom: 10em;
}
/* line 30, ../sass/components/_section-news.scss */
.section-news .news__conteiner-card .row-card .news__card {
  margin-bottom: 3em;
  padding-left: 0;
  border: none;
  display: block;
  height: 26.25em;
  width: 23em;
}
/* line 39, ../sass/components/_section-news.scss */
.section-news .news__conteiner-card .row-card .news__card .card-body {
  padding-left: 0;
  padding-right: 0;
}
/* line 42, ../sass/components/_section-news.scss */
.section-news .news__conteiner-card .row-card .news__card .card-body .card-title {
  font-weight: 700;
  margin-bottom: 0.6em;
  font-size: 1.4em;
  line-height: 1.5em;
  color: #404040;
}
/* line 48, ../sass/components/_section-news.scss */
.section-news .news__conteiner-card .row-card .news__card .card-body .card-title:hover {
  color: #ef3345;
}
/* line 52, ../sass/components/_section-news.scss */
.section-news .news__conteiner-card .row-card .news__card .card-body .meta {
  margin-bottom: 1.25em;
}
/* line 55, ../sass/components/_section-news.scss */
.section-news .news__conteiner-card .row-card .news__card .card-body .meta a:hover {
  color: #ef3345;
  background-color: transparent;
}
/* line 60, ../sass/components/_section-news.scss */
.section-news .news__conteiner-card .row-card .news__card .card-body .meta .meta-item {
  color: #666666;
  margin-right: 0.4rem;
  font-size: 0.75em;
}
/* line 66, ../sass/components/_section-news.scss */
.section-news .news__conteiner-card .row-card .news__card .card-body .card-text {
  display: block;
  color: #666666;
  margin-bottom: 1.25em;
  font-family: "Poppins", sans-serif;
  font-size: 0.9em;
  font-style: normal;
  font-weight: 400;
  height: 100%;
  line-height: 1.5em;
  margin-block-end: 1.25em;
  margin-block-start: 0;
  margin-bottom: 1.25em;
  margin-inline-end: 0;
  margin-inline-start: 0;
  margin-top: 0;
  text-align: left;
}
/* line 84, ../sass/components/_section-news.scss */
.section-news .news__conteiner-card .row-card .news__card .card-body .btn.btn-sm {
  padding: 0.5em 1.5em;
  font-size: 0.75em;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
  display: inline-block;
}
/* line 95, ../sass/components/_section-news.scss */
.section-news .news__conteiner-card .row-card .news__card .card-body .card__btn {
  background-color: #ef3345;
  color: #ffffff;
  position: relative;
  transition: transform 1s linear forwards;
  display: inline-block;
  border: none;
  z-index: 2;
}
/* line 103, ../sass/components/_section-news.scss */
.section-news .news__conteiner-card .row-card .news__card .card-body .card__btn:before {
  content: "";
  width: 0;
  background-color: black;
  top: 0;
  left: 0;
  bottom: 0;
  border-radius: inherit;
  position: absolute;
  transition: all 1.5s ease;
  z-index: -1;
}
/* line 115, ../sass/components/_section-news.scss */
.section-news .news__conteiner-card .row-card .news__card .card-body .card__btn:active:before, .section-news .news__conteiner-card .row-card .news__card .card-body .card__btn:focus:before, .section-news .news__conteiner-card .row-card .news__card .card-body .card__btn:hover:before {
  background-color: #000000;
  width: 100%;
  transition: all 2s ease;
}

/* line 2, ../sass/components/_section-footer.scss */
.section-footer .section-footer__top {
  background-color: #080833;
  color: #ffffff;
  padding-top: 120px;
  padding-bottom: 100px;
}
/* line 7, ../sass/components/_section-footer.scss */
.section-footer .section-footer__top h3 {
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}
/* line 12, ../sass/components/_section-footer.scss */
.section-footer .section-footer__top p {
  font-weight: normal;
}
/* line 16, ../sass/components/_section-footer.scss */
.section-footer .section-footer__top .row-footer__top .col-f_t1 {
  text-align: left;
  border-right: 0.5px solid darkblue;
}
/* line 19, ../sass/components/_section-footer.scss */
.section-footer .section-footer__top .row-footer__top .col-f_t1 .title {
  padding-bottom: 10px;
}
/* line 21, ../sass/components/_section-footer.scss */
.section-footer .section-footer__top .row-footer__top .col-f_t1 .title .span__f-t {
  color: #ef3345;
}
/* line 26, ../sass/components/_section-footer.scss */
.section-footer .section-footer__top .row-footer__top .col-f_t1 .hover:hover {
  color: #ef3345;
}
/* line 31, ../sass/components/_section-footer.scss */
.section-footer .section-footer__top .row-footer__top .col-f_t2 {
  text-align: center;
  border-right: 0.5px solid darkblue;
}
/* line 34, ../sass/components/_section-footer.scss */
.section-footer .section-footer__top .row-footer__top .col-f_t2 h3 {
  color: #ef3345;
  font-size: 26px;
  padding-bottom: 10px;
}
/* line 40, ../sass/components/_section-footer.scss */
.section-footer .section-footer__top .row-footer__top .col-f_t2 .footer-social .footer-icon {
  display: inline-flex;
  font-size: 14px;
  width: 30px;
  height: 30px;
  color: #ffffff;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
/* line 50, ../sass/components/_section-footer.scss */
.section-footer .section-footer__top .row-footer__top .col-f_t2 .footer-social .footer-icon:hover {
  color: #ef3345;
  border: #ef3345 2px solid;
  text-decoration: none;
}
/* line 58, ../sass/components/_section-footer.scss */
.section-footer .section-footer__top .row-footer__top .col-f_t3 {
  text-align: right;
}
/* line 60, ../sass/components/_section-footer.scss */
.section-footer .section-footer__top .row-footer__top .col-f_t3 .title {
  padding-bottom: 10px;
}
/* line 62, ../sass/components/_section-footer.scss */
.section-footer .section-footer__top .row-footer__top .col-f_t3 .title .span__f-t {
  color: #ef3345;
}
/* line 68, ../sass/components/_section-footer.scss */
.section-footer .section-footer__top .row-footer__top .col-f_t3 .container .row .col-inst {
  padding-left: 0px;
  padding-right: 0px;
}
/* line 71, ../sass/components/_section-footer.scss */
.section-footer .section-footer__top .row-footer__top .col-f_t3 .container .row .col-inst .footer-img {
  background-color: #ef3345;
  width: 60px;
  height: 60px;
  margin-top: 10px;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
}
/* line 79, ../sass/components/_section-footer.scss */
.section-footer .section-footer__top .row-footer__top .col-f_t3 .container .row .col-inst .footer-img:hover {
  background-color: #ef3345;
  width: 60px;
  height: 60px;
  margin-top: 10px;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  opacity: 0.2;
}
/* line 96, ../sass/components/_section-footer.scss */
.section-footer .section-footer__bottom {
  background-color: #ef3345;
  color: #ffffff;
  text-align: center;
  height: 60px;
  padding-top: 15px;
  margin-bottom: 0px;
}

/* line 28, ../sass/screen.scss */
.section__main {
  background-image: url("../images/bg_top_photo1.jpg");
  min-height: 950px;
  width: 100%;
  background-position: center;
  position: relative;
  z-index: -100;
}

/* line 37, ../sass/screen.scss */
.container-slider {
  height: 810px;
  width: 80%;
  border: 1px solid black;
  display: block;
  position: absolute;
  overflow: hidden;
  bottom: 0;
  left: 10%;
  z-index: -150;
}
/* line 48, ../sass/screen.scss */
.container-slider .name {
  position: absolute;
  font-size: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  color: white;
  z-index: -160;
  transform: translate(-100%, 0);
}
/* line 58, ../sass/screen.scss */
.container-slider .name1 {
  position: absolute;
  top: 20%;
  left: 0;
  display: block;
  z-index: -160;
  animation: sideSlide 2s ease 2s forwards;
}
/* line 67, ../sass/screen.scss */
.container-slider .name2 {
  position: absolute;
  top: 30%;
  left: 0;
  z-index: -160;
  animation: sideSlide 2s ease 3s forwards;
}
/* line 75, ../sass/screen.scss */
.container-slider .descr {
  font-size: 28px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: white;
  position: absolute;
  top: 40%;
  left: 0;
  z-index: -160;
  animation: sideSlide 2s ease 4s forwards;
  transform: translate(-100%, 0);
}
/* line 88, ../sass/screen.scss */
.container-slider .button {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-align: center;
  color: white;
  margin-top: 20px;
  padding-top: 4px;
  height: 30px;
  width: 110px;
  background-color: red;
  border-radius: 5px;
  position: absolute;
  top: 55%;
  left: 0;
  z-index: -160;
  animation: sideSlide 2s ease 5s forwards;
}
/* line 107, ../sass/screen.scss */
.container-slider .pic {
  height: 100%;
  width: 50%;
  background-image: url("../images/white_guy.png");
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
  border: 1px solid red;
  position: absolute;
  bottom: 0%;
  right: 0;
  animation: pic 2s ease forwards;
  z-index: -140;
}

@keyframes pic {
  0% {
    transform: translate(0, 100%);
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
/* line 139, ../sass/screen.scss */
body {
  background-color: rgba(2, 3, 5, 0.9);
  z-index: 2;
}

@keyframes sideSlide {
  0% {
    transform: translate(-100%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
